<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <style>
        body {
            text-align: center;
            background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/08/Background-HD-Wallpapers.jpg);
        }

        h1, h2, a {
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: black;
        }
        
    </style>

</head>
<body>
    
    <h1>Home</h1>


    <a href="/users/login">Login</a>
</body>
</html>